<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>435714236912-di6muqog0p5adn9qkd19el9r1lfs580c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.435714236912-di6muqog0p5adn9qkd19el9r1lfs580c</string>
	<key>API_KEY</key>
	<string>AIzaSyDEegoq3_IZNJ2VskkpsLn_ONv4jSueyoc</string>
	<key>GCM_SENDER_ID</key>
	<string>435714236912</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nunotest.fireshipapp</string>
	<key>PROJECT_ID</key>
	<string>fireship-app-8b23a</string>
	<key>STORAGE_BUCKET</key>
	<string>fireship-app-8b23a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:435714236912:ios:c3db49932f45fdd304fd35</string>
</dict>
</plist>